.why-our-services {
  padding: 30px;
  margin: 20px auto;
  max-width: 1200px;
}

.section-header {
  margin-bottom: 20px;
}

.section-header h1 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
}

.section-content,
.section-evoke,
.section-analysinn {
  margin-bottom: 30px;
}

.section-evoke h2 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.section-evoke p {
  font-size: 25px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  text-align: left;
}

.responsive-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.custom-list-item {
  font-size: 25px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-list-item:hover {
  font-size: 25px;
  line-height: 1.6;
  color: #000;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #c9d2f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-icon {
  color: #003399;
  font-size: 30px;
  margin-right: 10px;
}
