
.problem-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #f5f5f5; /* Adjust as needed */
  }
  
  .problem-text {
    flex: 1;
    padding: 20px;
    order: 2;
  }
  
  .problem-text h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  .problem-text p {
    font-size: 25px;
    line-height: 1.6;
  }
  
  .problem-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
  }
  
  .problem-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: For rounded corners */
  }
  