/* src/ContactButton.css */

.contact-button {
  width: 500px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #1890ff;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #40a9ff;
    transform: translateY(-2px);
  }
  