.marketing-header {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #d9d9d9;
  background-color: #003399;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.marketing-header h1 {
  font-size: 2rem;
  padding-top: 40px;
  color: #ffffff;
  padding: "50px 0";
}

.marketing-header h2 {
  font-size: 2.5rem;
  margin: 0 0 20px;
  color: #ffffff;
}

.marketing-header p {
  font-size: 1.2rem;
  margin: 0 0 20px;
  color: #ffffff;
  max-width: 800px;
}

.consultation-button {
  margin-top: 20px;
  background-color: #1890ff;
  color: white;
  border: none;
  padding: 15px 24px;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.consultation-button:hover {
  background-color: #005bb5;
}

.tabs-container {
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
}

.tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  padding: 2%;
}

.tab-pane {
  flex: 1 1 calc(28% - 40px);
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #003399;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  justify-content: center;
}

.tab-pane:hover {
  transform: translateY(-10px);
}

.tab-content {
  text-align: left;
  margin-top: auto;
  position: relative;
  width: 100%;
  background-color: #013eb8;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
}

.tab-content h3 {
  font-size: 1.8rem;
  margin-bottom: 5px;
  color: #ffffff;
}

.tab-content p {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #ffffff;
}

.tab-pane img {
  width: 100%;

  height: 250px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.additional-section {
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
  padding: 40px;
  margin-top: 40px;
  border-radius: 8px;
  text-align: left;
}

.additional-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.additional-section p {
  font-size: 1.2em;
  margin: 20px 0;
}

.additional-section ul {
  list-style-type: none;
  padding: 0;
}

.additional-section ul li {
  font-size: 1.2em;
  margin: 5px 0;
  position: relative;
}

.new-section {
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 8px;
  text-align: left;
}

.new-section h2 {
  font-size: 5em;
  margin-bottom: 20px;
}

.italic-text {
  font-style: italic;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.new-section ul {
  list-style-type: none;
  padding: 0;
}

.new-section ul li {
  font-size: 1.2em;
  margin: 10px 0;
  position: relative;
}

@media (max-width: 768px) {
  .tab-pane {
    flex: 1 1 100%;
  }
}
