.text-container{
    width: 90%;
    margin: 4% auto;
    border-radius: 10px;
}

.stats-container{
    border-radius: 10px;
}

.gradient-btn{
    background: linear-gradient(45deg, #333333, #000000); /* Black gradient background */
    color: white; /* Text color */
    border: none; /* Remove default border */
    padding: 22px 26px; /* Padding */
    font-size: 14px; /* Font size */
    font-weight: bold; /* Font weight */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background 0.3s ease, transform 0.3s ease; /* Smooth transition */
    outline: none; /* Remove default focus outline */
    text-transform: uppercase; /* Uppercase text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for button */
}

.gradient-btn:hover {
    background: linear-gradient(45deg, #000000, #333333); 
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.gradient-btn:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5); /* Focus outline with shadow */
}

.gradient-btn:active {
    background: linear-gradient(45deg, #000000, #333333); /* Same gradient on active state */
    transform: scale(0.95); /* Slightly shrink on click */
}
