body{
    margin-top: 5%;
  }
  
  
  .contact-container {
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .contact-card,
  .contact-info-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-card h2,
  .contact-info-card h2 {
    color: #1890ff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-card .ant-input,
  .contact-card .ant-input-textarea {
    border-radius: 4px;
  }
  
  .contact-card .ant-btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .contact-info-card {
    text-align: left;
    padding: 20px;
  }
  
  .contact-info-card p {
    font-size: 16px;
    margin: 10px 0;
    color: #595959;
  }
  
  .contact-info-card p svg {
    margin-right: 10px;
    color: #1890ff;
  }
  
  .map-placeholder {
    height: 200px;
    background-color: #d9d9d9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #595959;
    font-size: 16px;
    margin-top: 20px;
  }
