.App {
  min-height: 620px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.pngimg.me/thumb/f/720/34b84e428dd040619396.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  z-index: 0;
}

.Content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  position: relative;
}

.site-layout-content {
  padding: 50px;
  border-radius: 10px;
}

.site-layout-content .ant-typography,
.site-layout-content .ant-btn {
  color: rgb(0, 68, 196);
}

.ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
  padding: 15px 24px;
  font-size: 1.2em;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #1a75c0;
  border-color: #40a9ff;
}
